	.jumbotron {
		background-color: white;
		font-size: 35px;
		font-family: 'Roboto', sans-serif;
		padding-bottom: 5px;
	}
	.button-content {
		padding-top: 10px;
		padding-bottom: 35px;
	}
	ul {
		list-style: none;
		font-size: 25px;
		font-weight: bold;
/*		 		padding: 30px;
		margin: 10px;
		width: 30%;*/
/*		border: 3px solid skyblue;*/
	}
	#list-title{
		display: none;
		font-size: 30px;
		font-family: 'Proza Libre', sans-serif;
	}
	ul li {
		/* spacing between list items */
  		padding-bottom: 4px;
	}

	/* glyphyicon style */

	.glyphicon {
		padding-right: 5px;
	}
	.glyphicon-pushpin {
		color: salmon;
	}

	.glyphicon-ok {
		color: green;
	}
	.glyphicon-pushpin:hover, .glyphicon-ok:hover {
		cursor: pointer;
	}